{
    "jsc": {
        "externalHelpers": false,
        "parser": {
            "syntax": "typescript",
            "tsx": true,
            "decorators": true,
            "type": "es6"
        }
    },
    "module": {
        "type": "commonjs"
    }
}