

  
  <div style="display: none; max-width: 0; max-height: 0; overflow: hidden; font-size: 1px; line-height: 1px; color: #fff; opacity: 0;" class="preheader">
    Vous avez été invité à rejoindre Cyber Eye
  </div>
  

  
  <table width="100%" cellspacing="0" cellpadding="0" border="0">

    <tbody><tr></tr>

  
    <tr>
      <td bgcolor="#e9ecef" align="center">
        
        <table style="max-width: 600px;" width="100%" cellspacing="0" cellpadding="0" border="0">
          <tbody><tr>
            <td style="padding: 36px 24px 0; font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; border-top: 3px solid #d4dadf;" bgcolor="#ffffff" align="left">
              <h1 style="margin: 0; font-size: 32px; font-weight: 700; letter-spacing: -1px; line-height: 48px;">Vous avez reçu une invitation !</h1>
            </td>
          </tr>
        </tbody></table>
        
      </td>
    </tr>
    

    
    <tr>
      <td bgcolor="#e9ecef" align="center">
        
        <table style="max-width: 600px;" width="100%" cellspacing="0" cellpadding="0" border="0">

          
          <tbody><tr>
            <td style="padding: 24px; font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 24px;" bgcolor="#ffffff" align="left">
              <p style="margin: 0;">Vous avez été invité à rejoindre <a href="https://cyber-eye.fr">Cyber Eye</a>.</p>
            </td>
          </tr>
          

          
          <tr>
            <td bgcolor="#ffffff" align="left">
              <table width="100%" cellspacing="0" cellpadding="0" border="0">
                <tbody><tr>
                  <td style="padding: 12px;" bgcolor="#ffffff" align="center">
                    <table cellspacing="0" cellpadding="0" border="0">
                      <tbody><tr>
                        <td style="border-radius: 6px;" bgcolor="#1a82e2" align="center">
                          <a style="display: inline-block; padding: 16px 36px; font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-size: 16px; color: #ffffff; text-decoration: none; border-radius: 6px;" href="{{ .ConfirmationURL }}">
                            Accepter l'invitation
                          </a>
                        </td>
                      </tr>
                    </tbody></table>
                  </td>
                </tr>
              </tbody></table>
            </td>
          </tr>
          

          
          <tr>
            <td style="padding: 24px; font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 24px;" bgcolor="#ffffff" align="left">
              <p style="margin: 0;">Si le bouton ci-dessus ne fonctionne pas, vous pouvez copier-coller l'URL suivante dans votre navigateur :</p>
              <p style="margin: 0;"><a href="{{ .ConfirmationURL }}">{{ .ConfirmationURL }}</a></p>
            </td>
          </tr>
          

          
          <tr>
            <td style="padding: 24px; font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 24px; border-bottom: 3px solid #d4dadf" bgcolor="#ffffff" align="left">
              <p style="margin: 0;">Cordialement,<br> L'équipe Cyber Eye</p>
            </td>
          </tr>
          

        </tbody></table>
        
      </td>
    </tr>
    

    
    <tr>
      <td style="padding: 24px;" bgcolor="#e9ecef" align="center">
        
        <table style="max-width: 600px;" width="100%" cellspacing="0" cellpadding="0" border="0">

          
          <tbody><tr>
            <td style="padding: 12px 24px; font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 20px; color: #666;" bgcolor="#e9ecef" align="center">
              <p style="margin: 0;">Vous avez reçu cet email car vous avez été invité à rejoindre la plateforme Cyber Eye. Si vous pensez que c'est une erreur, vous pouvez ignorer ce mail.</p>
            </td>
          </tr>
          

        </tbody></table>
        
      </td>
    </tr>
    

  </tbody></table>
  


